* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #EEE;
}

#root{
  display: flex;
  justify-content: center;
}